<ng-template #loading>
    <mat-spinner class="loading"></mat-spinner>
</ng-template>

<div class="container" *ngIf="isPageReady; else loading">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">

            <mat-card>

                <div class="subtitle">
                    <h3 class="is-size-4">{{appliedForm.form.name}}</h3>
                    <hr>
                </div>
                <table class="table is-fullwidth is-hoverable">
                    <tbody>
                        <tr *ngFor="let value of valueTable">
                            <td>{{value.title}}</td>
                            <td>
                                <ng-template #normalField>
                                    {{value.value}}
                                </ng-template>
                                <div *ngIf="value.type === 'file'; else normalField">
                                    <a [href]="value.value" target="_blank">
                                        {{value.title}}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
    </div>
</div>