<ng-template #loading>
    <mat-spinner class="loading"></mat-spinner>
</ng-template>

<div class="container" *ngIf="isPageReady; else loading">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <mat-card class="is-fullwidth">
                <div class="subtitle">
                    <h3 class="is-size-5">Form Bilgileri</h3>
                    <hr>
                </div>

                <form #f="ngForm">
                    <div class="field">
                        <mat-form-field>
                            <input matInput placeholder="İsim" ngModel name="name" required>
                        </mat-form-field>
                    </div>
                    <div class="field">
                        <mat-form-field>
                            <input matInput placeholder="Eşsiz Ad" ngModel name="slug" required>
                        </mat-form-field>
                    </div>
                    <div class="field">
                        <mat-select placeholder="Dil" ngModel name="language_id" required>
                            <mat-option *ngFor="let language of languages" [value]="language.id">
                                {{ language.name }}
                            </mat-option>
                        </mat-select>
                    </div>

                </form>

            </mat-card>
        </div>
    </div>

    <button mat-fab class="add-btn" (click)="postForm(f)" [disabled]="!f.valid">
        <mat-icon>add</mat-icon>
    </button>
</div>